@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.root {
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.header .title,
.header .subtitle {
  margin: auto;
}
.header .title {
  margin-top: 0.5rem;
}

.container-wrapper {
  display: flex;
  max-width: 1000px;
}
.container-wrapper aside {
  width: 200px;
}
.container-wrapper aside .button-group {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.container-wrapper aside .button-group #btn_start,
.container-wrapper aside .button-group #reset,
.container-wrapper aside .button-group .timer-container {
  display: block;
  margin: 0.4rem 0;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: 600;
}
.container-wrapper aside .button-group #btn_start,
.container-wrapper aside .button-group #reset {
  height: 35px;
}
.container-wrapper aside .button-group .timer-container {
  display: flex;
  flex-direction: column;
  color: black;
  margin-top: 0.5rem;
}
.container-wrapper aside .button-group .timer-container span {
  margin-bottom: 0.2rem;
}
.container-wrapper aside .button-group .timer-container #timer {
  height: 30px;
  border: none;
  border-radius: 2px;
  border: 1px solid black;
  padding-left: 0.5rem;
}
.container-wrapper aside .button-group #btn_start.start {
  background-color: #0d05a5;
}
.container-wrapper aside .button-group #btn_start.start:hover, .container-wrapper aside .button-group #btn_start.start:focus {
  background-color: #2920d8;
}
.container-wrapper aside .button-group #btn_start.stop {
  background-color: #b30606;
}
.container-wrapper aside .button-group #btn_start.stop:hover, .container-wrapper aside .button-group #btn_start.stop:focus {
  background-color: #df1e1e;
}
.container-wrapper aside .button-group #reset {
  background-color: #03880e;
}
.container-wrapper aside .button-group #reset:hover, .container-wrapper aside .button-group #reset:focus {
  background-color: #21b80d;
}
.container-wrapper aside .info {
  margin: 0 1rem;
  margin-top: 2rem;
}
.container-wrapper aside .info > span {
  font-weight: 600;
}
.container-wrapper aside .info ul li {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  padding: 5px 10px;
  margin: 0.4rem auto;
}
.container-wrapper .maze-content {
  margin: auto;
  position: relative;
}

#solver {
  position: absolute;
  background-color: #00000055;
  left: 0;
  top: 0;
}
#solver > #maze_solver div {
  display: flex;
}
#solver .cell_solver {
  position: relative;
  width: 16px;
  height: 16px;
}
#solver .cell_solver::after {
  position: absolute;
  left: 3px;
  text-align: center;
  text-shadow: 0 0 1px black;
  font-size: 0.7em;
  z-index: 10;
}
#solver .cell_solver.current::after {
  content: "🚶" !important;
}
#solver .cell_solver.path::after {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #0ae623;
  top: 3px;
  left: 3px;
}
#solver .cell_solver.old::after {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #d10202 !important;
  top: 3px;
  left: 3px;
}

/*# sourceMappingURL=style.css.map */
